/* Add the class name group in the anchor tag and i will work */
.group:hover .call-icon {
  animation: ring 0.5s ease-in-out infinite;
  transform-origin: center;
}

.group:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(-15deg);
  }

  45% {
    transform: rotate(12deg);
  }

  60% {
    transform: rotate(-12deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0);
  }
}

.group:hover .call-icon {
  animation: ring 0.5s ease-in-out infinite;
  transform-origin: center;
}
